@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    /* border: 1px solid; */
}
html {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #def3f6;
}

a {
    text-decoration: none;
}

h1 {
    color: #064273;
}

/* Header */
header {
    background-color: #064273;
    color:white;    
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#img-logo img {
    width: 200px;
}
.header-title h1 {
    font-size: 50px;
    color: white;
} 

nav ul {
    display: flex;
    justify-content: space-evenly;
}
nav a {
    color: white;
}
nav li{
    list-style: none;
    padding: 10px;
}
nav li:hover{
    color:#76b6c4;
    background-color: rgba(255, 255, 255, 0.25);
    transition: ease-in;
    transition-duration: 0.2s; 
}

/* Principal - Main e Aside */



/* Aside */
aside h1{
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    text-align: center;
}
.aside-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.article-card {
    
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px;
    margin-bottom: 1rem;
    width: 200px;
    text-align: center;
    
}
.card-img {
    width: 200px;
}

/* Main - Saiba mais */
.saiba-mais {
    margin-left: 5rem;
    margin-right: 5rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}
 
.saiba-mais h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
}

.saiba-mais img {
    width: 300px;
    border-radius: 15%;
    margin: 10px;
}

.info-contents {
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px;
}
.info-img {
    text-align: center;
}
#info-2 {
    justify-content: flex-end;
    
}
/* Footer */
footer {
    text-align: center;
    background-color: #064273;
    color:white; 
    padding: 10px;
}
.socialmedia-icons {
    width: 15px;
    padding: 2px;
    background-color: white;
    border-radius: 5px;
}

footer h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;

}

footer p {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.dev1, .dev2, .dev3, .dev4 {
    border-radius: 30%;
}

.dadosAutores{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dev-card{
    text-align: center;
    margin: 5px;
}

.logo-linkedin, .logo-github {
    background-color: white;
    border-radius: 20%;
}
/* media  - ARRUMAR!*/
 @media only screen and (min-width: 800px) {
    /* Index.html */
    .principal {
        display: flex;
        justify-content: space-around;
    }
    .main-container {
        width: 75%;
        margin: 1rem;
    }
    
    aside {
        width: 25%;
        margin: 1rem;
    }
    /* Saiba Mais */
    .info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .info:nth-child(odd) {
        flex-direction: row-reverse;
        
    }
    .info-contents {
        width: 60%;
    }
    .info-img {
        width: 40%;
    }
} 